@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  scrollbar-width: thin !important;
  scrollbar-color: rgba(202, 202, 202, 0) transparent;

  --sh-class: #7aa2f7;
  --sh-sign: #89ddff;
  --sh-string: #9ece6a;
  --sh-keyword: #bb9af7;
  --sh-comment: #565f89;
  --sh-jsxliterals: #7aa2f7;
  --sh-property: #73daca;
  --sh-entity: #e0af68;

  --brand: #00aa45;
  overscroll-behavior: none;
}

/* :focus {
  outline: 1px solid #00aa45;
} */

:focus-visible {
  outline: 1px solid var(--brand);
}

input:hover,
textarea:hover {
  outline: 1px solid var(--brand);
}

.mark-effect {
  --color: #00aaff; /* Blue color */
  display: inline;
  margin: -0.24em -0.46em -0.06em -0.04em;
  padding: 0.24em 0.46em 0.06em 0.04em;
  border-radius: 0.5em 0.3em;
  background: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  background-image: linear-gradient(
    83.75deg,
    color-mix(in srgb, var(--color), transparent 50%),
    color-mix(in srgb, var(--color), transparent 90%) 4%,
    color-mix(in srgb, var(--color), transparent 70%) 96%,
    color-mix(in srgb, var(--color), transparent 30%)
  );
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Geist, Arial, Helvetica, sans-serif;
}

.debug {
  outline: 1px solid red;
}

button {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid transparent;
}

ul {
  list-style: none;
}
li {
  list-style: none;
}

@media (width < 900px) {
  .pannel {
    display: none;
  }
}

@media (width > 900px) {
  .t {
    display: none;
  }
}

.progress-bar {
  will-change: width;
  transition: width 300ms ease;
}

pre {
  background-color: #16161e;
  border-radius: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  line-height: 1;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  font-size: 14px;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: var(--color-gray-100);
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 1.5;
}

pre code > span .sh__token--identifier {
  color: white !important;
}

code:not(pre code) span {
  font-weight: 500;
  color: black !important;
}

pre code span {
  font-weight: 500;
}
